<h1>Welcome to Word Counter.</h1>
<h5>This website allows you to search a sentence for a particular word to see how many times it occurs.</h5>

<form action="/result">
  <div class="form-group">

    <label for="sentence">Search this sentence:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">

    <label for="word">for this word:</label>
    <input id="word" name="word" class="form-control" type="text">

  </div>

  <button type="submit" class="btn">Search!</button>
</form>
